
body {
  background-color: #E6E6FA	;
}

p {
  text-align: center;
  color: red;
  display: block;
}

h1 {
font-family: 'Shadows Into Light', cursive;
text-align: center;
}

form {
display: block;
text-align: center;
color: black;
}

input {
font-size: inherit;
}

input[type="text"] {
  display: inline-block;
  border: 1px solid black;
}

input[type="date"] {
  display: inline-block;
  border: 1px solid black;
}
