.tausta
{
background-color: #F5F5DC;
border: 2px solid black;
border-radius: 4px;
padding: 10px;
float: left;

}

input[type=text] {
box-sizing: border-box;
border: 2px solid #ccc;
-webkit-transition: 0.5s;
transition: 0.5s;
outline: none;

}


input[type=text]:focus {
  border: 2px solid #555;

}
select {
display: block;
}
